<section class="container">
  <div class="text-center v-center">
    <div>

      <h1 class="mb-4"><img src="{{ "img/brand.png" | absURL }}" style="margin-left: -25px" alt="{{ .Site.Title }}"></h1>
      <h2 class="lead">Home of the Utah Golang User Group</h2>

      {{ with .Site.Params.social }}
      <div class="mb-4">
        <ul class="nav justify-content-center">
          {{ range sort .}}
          <li class="nav-item"><a class="nav-link" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      <p><img src="{{ "img/gopherski.png" | absURL }}" width="80" alt="gopherski"></p>


    </div>


  </div>
</section>
